@page
@model RazorPizza.Pages.checkout.checkoutModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="checkout/ThankYou">ThankYou</a>

<p> You ordered 5 pizza and your total money is 10 dollars</p>